<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Community</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Welcome to the Community</h1>

        <% if (users.length===0) { %>
            <h4>There is nobody in the Community</h4>
            <% } else { %>
                <ul>
                    <% users.forEach(user=> { %>

                        <li>
                            <a href="/users/<%= user._id %>" title="<%= user.username%>">
                                <%= user.username%>
                            </a>
                        </li>

                        <% }) %>
                </ul>
                <% } %>

</body>

</html>